:root {
    --primaryColor: #323232;
    --secondaryColor: #AF8C54;
    --blueColor: #3090FF;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: medium;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}